# Logs
logs
*.log

# Runtime data
pids
*.pid
*.pid.lock
*.seed

# Vim garbage
*.swp
*.swo

# Build files
public/js/*.js
public/css/*.css
public/projects/*/
!public/projects/.gitkeep
public/uploads/*/
!public/uploads/.gitkeep

# Dependency directory
node_modules
npm-debug.log
