<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>DocSpot</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>

<section class="main-header-container">
  <header class="main-header">
    <a href="/">
      <h1 class="main-title">
        <img class="main-title-logo" src="/public/img/logo.svg" alt="DocSpot Logo" />
        <span class="main-title-text">DocSpot</span>
      </h1>
    </a>

    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/documentation">Api Docs</a></li>
        <li><a href="http://github.com/jondlm/docspot">GitHub</a></li>
      </ul>
    </nav>
  </header>
</section>

<div class="main-body">
  {{{content}}}
</div>

</body>
</html>
