<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DocSpot</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<section class="main-header-container">
  <header class="main-header">
    <h1 class="main-title">
      <a href="/"><img src="/img/logo.svg" alt="DocSpot Logo" />DocSpot</a>
    </h1>

    <nav class="main-nav">
      <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/upload">Upload</a></li>
      </ul>
    </nav>
  </header>
</section>

<div class="main-body">
  {{{content}}}
</div>

</body>
</html>
