
//
// Variables
// -------------------------------------
@color1: #E8E595; // light yellow
@color2: #D0A825; // mustard yellow
@color3: #40627C; // light blue
@color4: #26393D; // dark blue
@color5: #FFFAE4; // cream

//
// Imports
// -------------------------------------

@import 'src/client/styles/modules/helpers.less';
@import 'src/client/styles/modules/typography.less';
@import 'src/client/styles/modules/header.less';

//
// Globals
// -------------------------------------

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


