Source: docspot
Priority: optional
Section: web
Maintainer: Change Me <changeme@example.com>
Build-Depends: build-essential,
 debhelper (>= 8.0.0),
 dh-autoreconf,
 nodejs (>= 4),
 nodejs-legacy,
 appnexus-ca

Package: docspot
Architecture: any
Depends: nodejs (>= 4),
 nodejs-legacy,
 passenger (>= 5)
Description: docspot
 A neighborhood friendly Resin app
