Source: docspot
Maintainer: GAP DevOps <gap-devops@appnexus.com>
Build-Depends: build-essential,
 debhelper (>= 8.0.0),
 dh-autoreconf,
 nodejs (>= 6),
 nodejs-legacy,
 appnexus-ca

Package: docspot
Architecture: any
Depends: nodejs (>= 6),
 nodejs-legacy
Description: docspot
 Generic docs server
